{
    "consumer-key": "Get from twitter Application Management portal",
    "consumer-secret": "Get from twitter Application Management portal",
    "access-token": "Get from twitter Application Management portal",
    "access-token-secret": "Get from twitter Application Management portal"
}
